# Flask
SECRET_KEY=your_secret_key_here
FLASK_DEBUG=False

# Database (PostgreSQL recommended)
DATABASE_URI=postgresql://user:password@localhost:5432/dbname
# For local testing without PostgreSQL, you can use SQLite instead:
# DATABASE_URI=sqlite:///amadeusx.db

# CORS (for local development)
CORS_ORIGIN=http://127.0.0.1:8000

# Security (Set to True for production)
COOKIE_SECURE=False
FORCE_HTTPS=False
